<div class="container-fluid">

    <div class="row bg-secondary d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h1 class="fonte-54">Seja Bem vindo(a)!!!</h1>
                    <h5 class="fonte-18">Expresse aqui suas opniões!</h5>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3 m5-5">
                <div class="col-md-6">
                    <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova postagem</button>
                    <a class="btn btn-outline-light" href="#postagem">Ver postagens</a>
                </div>


            </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/xdqRzXp.png" alt="Imagem de Fundo" width="500px" height="500px">
        </div>

    </div>

</div>

<div class="container mb-5 mt-5" id="postagem">
    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
          <a class="nav-link active text-secondary font-weight-boid" id="nav-todasPostagem-tab" data-toggle="tab" href="#todasPostagem" role="tab" aria-controls="nav-todasPostagem" aria-selected="true">Todas postagem</a>

          <a class="nav-link text-secondary font-weight-boid" id="nav-MinhasPostagem-tab" data-toggle="tab" href="#MinhasPostagem" role="tab" aria-controls="nav-MinhasPostagem" aria-selected="false">Minhas Postagem</a>

          <a class="nav-link text-secondary font-weight-boid" id="nav-PostagemPorTema-tab" data-toggle="tab" href="#PostagemPorTema" role="tab" aria-controls="nav-PostagemPorTema" aria-selected="false">Postagem por tema</a>
        </div>

      </nav>
      <div class="tab-content" id="todasPostagem">
        <div class="tab-pane fade show active" id="nav-todasPostagem" role="tabpanel" aria-labelledby="nav-todasPostagem-tab">Todas Postagem</div>

        <div class="tab-pane fade" id="MinhasPostagem" role="tabpanel" aria-labelledby="nav-MinhasPostagem-tab">Minhas Postagem</div>

        <div class="tab-pane fade" id="PostagemPorTema" role="tabpanel" aria-labelledby="nav-PostagemPorTema-tab">Postagem por tema</div>
      </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Nova Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
              <label for="titulo">Título</label>
              <input type="text" class="form-control" id="titulo" placeholder="Digite o titulo">
          </div>

          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="Escolha um tema">Escolha um tema ou <a href="">Cadastre um novo:</a> </label>
            <select name="tema" id="tema" class="form-control">
                <option value="">Temas</option>
            </select>
        </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success">Publicar</button>
        </div>
      </div>
    </div>
  </div>